<div id="wrapper" ng-init="init()">

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{selected_year.year}} EI Compilation 
                </h1>
                
            </div>   

            <div class="row" style="margin: 20px;">

                <button class="col-lg-2 btn btn-success pull-right" ng-click="addEntry()" ng-disabled="noRegion() || noPollutants()">Add Entry</button>
                
                <button class="col-lg-2 btn btn-success pull-right" ng-click="addPollutant()" ng-disabled="noYearSelected()">Add Pollutant</button>
                
                <button class="col-lg-2 btn btn-success pull-right" ng-click="addRegion()" ng-disabled="noYearSelected()">Add Region</button>

                <button class="col-lg-2 btn btn-success pull-right" ng-click="addYear()" ng-disabled="addYearDisabled == true">Add Year</button>
                
            </div>
            <!-- /.col-lg-12 -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table ng-show="noPollutants() == false || noRegion() == false" class="table table-striped table-bordered" style="overflow: auto; white-space: nowrap;" >
                            <thead>
                                <tr>
                                    <th>REGION</th>
                                    <th>SOURCE</th>
                                    <th ng-repeat="pollutant in pollutants_header track by $index">{{pollutant}}</th>
                                    <th style="color: red">TOTAL</th>
                                    <th style="color: red">Regional %</th>
                                </tr>
                            </thead>

                            <tbody ng-repeat="region in readings">
                                <tr>
                                    <!-- region -->
                                    <td rowspan="3" class="labels">{{region.region}}</td>
                                    <!-- stationary -->
                                    <td class="labels">
                                        Station
                                    </td>
                                    
                                    <!-- pollutants -->
                                    <td ng-repeat="station in region.station track by $index">
                                       {{station}}
                                    </td>

                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <!-- stationary -->
                                    <td class="labels">
                                        Mobile
                                    </td>

                                    <!-- pollutants -->
                                    <td ng-repeat="mobile in region.mobile track by $index">
                                        {{mobile}}
                                    </td>

                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <!-- area -->
                                    <td class="labels">
                                        Area
                                    </td>
                                   
                                    <!-- pollutants -->
                                    <td ng-repeat="area in region.area track by $index">
                                        {{area}}
                                    </td>

                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="labels" ng-hide="noPollutants() == false || noRegion() == false" style="margin-top: 50px;">No Data to display.</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->