<div id="wrapper" ng-init="init()">

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">2015 EI Compilation<button class="col-lg-2 pull-right btn btn-success">Add 
                Entry</button><button class="col-lg-2 pull-right btn btn-success">Add Region</button></h1>
                
            </div>                       
            <!-- /.col-lg-12 -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" style="overflow: auto; white-space: nowrap;" >
                            <thead>
                                <tr>
                                    <th>REGION</th>
                                    <th>SOURCE</th>
                                    <th>PM</th>
                                    <th>REGIONAL %</th>
                                    <th>CO</th>
                                    <th>REGIONAL %</th>
                                    <th>NOX</th>
                                    <th>REGIONAL %</th>
                                    <th>SOX</th>
                                    <th>REGIONAL % </th>
                                    <th>VOC</th>
                                    <th>REGIONAL % </th>
                                    <th>TOTAL</th>
                                    <th>REGIONAL % </th>
                                </tr>
                            </thead>

                            <tbody ng-repeat="region in regions">
                                <tr>
                                    <!-- region -->
                                    <td rowspan="3" class="labels">NCR</td>
                                    <!-- stationary -->
                                    <td class="labels">
                                        Stationary
                                    </td>
                                    <!-- pm -->
                                    <td>
                                        15,078.89
                                    </td>
                                    <td>
                                        5.8105%
                                    </td>

                                    <!-- co -->
                                    <td>
                                        15,078.89
                                    </td>
                                    <td>
                                        5.8105%
                                    </td>

                                    <!-- nox -->
                                    <td>
                                        15,078.89
                                    </td>
                                    <td>
                                        5.8105%
                                    </td>

                                    <!-- sox -->
                                    <td>
                                        15,078.89
                                    </td>
                                    <td>
                                        5.8105%
                                    </td>

                                    <!-- voc -->
                                    <td>
                                        15,078.89
                                    </td>
                                    <td>
                                        5.8105%
                                    </td>

                                    <!-- total -->
                                    <td>
                                        15,078.89
                                    </td>
                                    <td>
                                        5.8105%
                                    </td>
                                </tr>

                                <tr>
                                    <!-- stationary -->
                                    <td class="labels">
                                        Mobile
                                    </td>
                                    <!-- pm -->
                                    <td>
                                        15,078.89
                                    </td>
                                    <td>
                                        5.8105%
                                    </td>

                                    <!-- co -->
                                    <td>
                                        15,078.89
                                    </td>
                                    <td>
                                        5.8105%
                                    </td>

                                    <!-- nox -->
                                    <td>
                                        15,078.89
                                    </td>
                                    <td>
                                        5.8105%
                                    </td>

                                    <!-- sox -->
                                    <td>
                                        15,078.89
                                    </td>
                                    <td>
                                        5.8105%
                                    </td>

                                    <!-- voc -->
                                    <td>
                                        15,078.89
                                    </td>
                                    <td>
                                        5.8105%
                                    </td>

                                    <!-- total -->
                                    <td>
                                        15,078.89
                                    </td>
                                    <td>
                                        5.8105%
                                    </td>
                                </tr>

                                <tr>
                                    <!-- area -->
                                    <td class="labels">
                                        Area
                                    </td>
                                    <!-- pm -->
                                    <td>
                                        15,078.89
                                    </td>
                                    <td>
                                        5.8105%
                                    </td>

                                    <!-- co -->
                                    <td>
                                        15,078.89
                                    </td>
                                    <td>
                                        5.8105%
                                    </td>

                                    <!-- nox -->
                                    <td>
                                        15,078.89
                                    </td>
                                    <td>
                                        5.8105%
                                    </td>

                                    <!-- sox -->
                                    <td>
                                        15,078.89
                                    </td>
                                    <td>
                                        5.8105%
                                    </td>

                                    <!-- voc -->
                                    <td>
                                        15,078.89
                                    </td>
                                    <td>
                                        5.8105%
                                    </td>

                                    <!-- total -->
                                    <td>
                                        15,078.89
                                    </td>
                                    <td>
                                        5.8105%
                                    </td>
                                </tr>
                            </tbody>

                            <!-- <tbody>
                                <tr ng-repeat="(key, value) in allVerifications">
                                    <td>{{value.id}}</td>
                                    <td>{{value.verification_applied_date}}</td>
                                    <td><button type="button" class="btn btn-success" ng-click="viewImage(value.frontImageUrl, value.backImageUrl)">View</button></td>
                                    <td><span ng-class="verified(value.id_verification_status) ? 'text-success' : 'text-warning'">{{value.id_verification_status}}</span></td>
                                    <td><button type="button" class="btn btn-danger" ng-click="verifiyId(key, value.id)" ng-hide="verified(value.id_verification_status)">Verify</button></td>
                                </tr>
                                <tr ng-if="isEmpty">
                                    <td colspan="3" class="center">No exams found.</td>
                                </tr>
                            </tbody> -->
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->